<% if has_more %>
  <div id="load-more-button" class="flex justify-center py-8">
    <button data-pagination-target="loadMoreButton"
            data-action="click->pagination#loadMore"
            class="px-6 py-2 bg-indigo-600 text-white rounded-full hover:bg-indigo-700 transition-colors">
      Load More
    </button>
  </div>
<% end %> 