<div id="player-bar" class="fixed bottom-0 left-0 right-0 bg-neutral-900 border-t border-neutral-700 shadow-lg hidden" 
     data-controller="bottom-player"
     data-bottom-player-tracks-value="<%= tracks.to_json %>">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between h-20">
      <div class="flex items-center space-x-4 w-1/4">
        <div class="w-14 h-14">
          <div id="player-cover-image" class="w-full h-full bg-neutral-800 rounded-lg overflow-hidden">
          </div>
        </div>
        <div>
          <h3 id="player-track-name" class="text-sm font-medium text-neutral-200"></h3>
          <p id="player-artist-name" class="text-xs text-neutral-400"></p>
        </div>
      </div>

      <div class="flex flex-col items-center w-1/2">
        <div class="flex items-center space-x-4 mb-2">
          <button id="prev-track" class="text-neutral-400 hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
          </button>

          <div class="plyr__container rounded-lg overflow-hidden">
            <audio data-bottom-player-target="player" class="plyr-audio">
              <source id="audio-source" type="audio/mp3" />
              Your browser does not support the audio element.
            </audio>
          </div>

          <button id="next-track" class="text-neutral-400 hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </button>
        </div>
      </div>

      <div class="w-1/4 flex justify-end"></div>
    </div>
  </div>
</div> 