<div class="section news">
  <h2>Latest News</h2>
  <% news.each do |item| %>
    <div class="news-item">
      <h3><%= item.title %></h3>
      <p><%= truncate(item.content, length: 150) %></p>
      <a href="<%= news_path(item) %>" class="btn btn-link">Read more</a>
    </div>
  <% end %>
</div>
