<div id="webcrumbs">
  <div class="bg-neutral-900 text-neutral-50 flex">
    <div class="flex-1">
      <%= render 'shared/header' %>
      <%= render 'shared/search' %>
      <%= render 'shared/filters' %>
      
      <div id="albums-grid">
        <%= render 'shared/albums_grid' %>
      </div>
    </div>
  </div>
</div>
